# Ignorar todo por defecto
/*
!.gitignore

# WM, Compositor y Apariencia
!/hypr/
!/hyprland-autoname-workspaces/
!/quickshell/
!/fuzzel/
!/nwg-displays/
!/nwg-look/
!/matugen/
!/gtk-3.0/
!/gtk-4.0/
!/qt5ct/
!/qt6ct/
!/Kvantum/

# Terminal, Shells y CLI tools
!/fish/
!/ghostty/
!/kitty/
!/starship.toml
!/yazi/
!/fastfetch/
!/btop/
!/htop/
!/cava/

# Editores y Desarrollo
!/zed/
!/git/

# Multimedia y Otros
!/mpv/
!/spicetify/

!/README.md
!/assets/

